
:root {
    /* Step -2: 10.24px → 11.26px */
    --step--2: clamp(0.64rem, calc(0.62rem + 0.11vw), 0.70rem);

    /* Step -1: 12.80px → 15.00px */
    --step--1: clamp(0.80rem, calc(0.75rem + 0.24vw), 0.94rem);

    /* Step 0: 16.00px → 20.00px */
    --step-0: clamp(1.00rem, calc(0.91rem + 0.43vw), 1.25rem);

    /* Step 1: 20.00px → 26.66px */
    --step-1: clamp(1.25rem, calc(1.11rem + 0.72vw), 1.67rem);

    /* Step 2: 25.00px → 35.54px */
    --step-2: clamp(1.56rem, calc(1.33rem + 1.15vw), 2.22rem);

    /* Step 3: 31.25px → 47.37px */
    --step-3: clamp(1.95rem, calc(1.60rem + 1.75vw), 2.96rem);

    /* Step 4: 39.06px → 63.15px */
    --step-4: clamp(2.44rem, calc(1.92rem + 2.62vw), 3.95rem);

    /* Step 5: 48.83px → 84.17px */
    --step-5: clamp(3.05rem, calc(2.28rem + 3.84vw), 5.26rem);

    /* Custom pairs */
        /* Space xs-s: 12px → 20px */
        --space-xs-s: clamp(0.75rem, calc(0.58rem + 0.87vw), 1.25rem);
}