


body {
    background-color: aliceblue;
    color: black;
    font-family: sans-serif;
    width: min(100ch, 100% - 4rem);
    margin-inline: auto;
}

.title {
    font-size: var(--step-5);
    font-weight: 1000;
    padding-block-start: 2rem;
    padding-block-end: 6rem;
}

.content {
    display: grid;
    grid-template-columns: 1fr 2.2fr;
    gap: var(--space-xs-s);
    position: relative;
    isolation: isolate;
    margin-block-end: 6rem;
}

.small-text {
    font-size: var(--step-0);
    grid-column: 1;
}

.small-text > p {
    padding-block-end: 0.8rem;
}

.name {
    font-weight: 600;
}

.work {
    padding-block-end: 1.5rem;
}

.big-text {
    grid-column: 2;
    font-size: var(--step-3);
    font-weight: 800;
    line-height: 1.3;
    padding-block-start: 4rem;
}

.content::after {
    content: '';
    width: 14%;
    aspect-ratio: 1 / 8;
    background-color: rgb(209, 40, 40);
    position: absolute;
    z-index: -1;
    transform: rotate(55deg);
    /* inset-inline-start: ; */
    /* inset-block-start: ; */
    justify-self: center;
    /* top: -10px;
    left: 380px; */
}

@media (max-width: 700px) {
    
    .content {
        display: grid;
        grid-template-columns: 1fr;
    }

    .content::after {
        grid-row: 2;
        transform: rotate(30deg);
        aspect-ratio: 1 / 12;
    }

    .title {
        padding-block-end: 3rem;
    }

    .small-text {
        grid-column: 1;
    }

    .big-text {
        grid-column: 1;
        padding-block-start: 2rem;
    }
}